# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
Resources/tests/app/cache/*
web/uploads/*
web/bundles/*
bin/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.lock
composer.phar

# Misc
nbproject/*
clover*
.idea
